/.history
/20240520_084222163_iOS.jpg
/desktop.ini
/Dream_朱红色宝珠_Sprite.png
/Dream_究极奈克洛Ｚ_Sprite.png
/Dream_靛蓝色宝珠_Sprite.png
/Freakleak - aka Gamefreak's Pokemon Leak.html
/game_animations.lua
/Tableau
/XY标题.xlsx
/伊布.png
/便笺.txt
/前海数据数据分析师笔试题.docx
/哔哩哔哩漫画下载器.exe
/图解 SQL 执行顺序，通俗易懂！.html
/大数据学习路线图.html
/数据分析师笔试题(运营及分析方向).xls
/新建文件夹
/新建文件夹 (2)
/无标题.png
/杂项
/精灵宝可梦
/钥石_百度百科.png